@import url('https://fonts.googleapis.com/css?family=Raleway');

.header-bar-container {

  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  background: -webkit-linear-gradient(left, #25c481, #25b7c4);
  background: linear-gradient(to right, #25c481, #25b7c4);

}

.header-bar-title {

  font-size: 32px;
  color: #ffffff;
  font-weight: 500;
  text-align: center;
  font-family: 'Raleway', sans-serif;

}

.header-bar-subtitle {

  font-size: 20px;
  color: #ffffff;
  font-weight: 200;
  text-align: center;
  margin-bottom: 15px;
  font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;

}
